@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Poppins:wght@300;400;700&display=swap");
@import "tailwindcss";
@theme {
  --font-display: "Press Start 2P";
}

/*
 Primary Colors 
Red               → bg-red-500 / text-red-500
Blue              → bg-blue-500 / text-blue-500
Yellow            → bg-yellow-400 / text-yellow-400

✅ Secondary Colors
Dark Background  → bg-gray-900 / text-gray-100
Card Background  → bg-gray-800 / shadow-lg rounded-lg
Accent (Grass Type Vibe) → bg-green-400 / text-green-400

*/

/* Loader and loading animation */
.loader {
  width: 45px;
  aspect-ratio: 0.75;
  --c: no-repeat linear-gradient(theme(colors.stone.800) 0 0);
  background: var(--c) 0% 50%, var(--c) 50% 50%, var(--c) 100% 50%;
  background-size: 20% 50%;
  animation: loading 1s infinite linear;
}

@keyframes loading {
  20% {
    background-position: 0% 0%, 50% 50%, 100% 50%;
  }
  40% {
    background-position: 0% 100%, 50% 0%, 100% 50%;
  }
  60% {
    background-position: 0% 50%, 50% 100%, 100% 0%;
  }
  80% {
    background-position: 0% 50%, 50% 50%, 100% 100%;
  }
}
